<form [formGroup]="filtrarJugadoresForm" (ngSubmit)="onFiltrar()">
    <div class="mx-auto" style="width: 90%;">
        <h1>Jugadores</h1>
        <h3>Filtros</h3>
            <div class="row">
                <div class="form-group col mb-3">
                    <label class="form-label" for="disciplina">Disciplina</label>
                    <select id="disciplina" class="form-select" formControlName="filtroDisciplina">
                    <option value="">Seleccionar</option>
                        <option *ngFor="let n of disciplinas" [value]="n.codigo">
                            {{n.nombre}}
                        </option>
                    </select>
                </div>
                <div class="form-group col mb-3">
                    <label class="form-label" for="disciplina">Facultad</label>
                    <select id="disciplina" class="form-select" formControlName="filtroFacultad">
                    <option value="">Seleccionar</option>
                        <option *ngFor="let n of facultades" [value]="n.codigo">                                
                            {{n.nombre}}
                        </option>
                    </select>
                </div>
                <div class="form-group col mb-3">
                    <label class="form-label" for="nacionalidad">Nacionalidad</label>
                    <select id="nacionalidad" class="form-select" formControlName="filtroNacionalidad">
                    <option value="">Seleccionar</option>
                        <option *ngFor="let n of nacionalidades" [value]="n.alpha3Code">
                            {{n.name}}
                        </option>
                    </select>
                </div>
            </div>
        <div class="row">
            <label class="form-label">Filtro</label>
            <div class="col btn-group btn-group-block mb-3">
                <input type="text" style="width : 100%" placeholder="Ingrese cadena">
            </div>
            <div class="col-3 btn-group btn-group-block mb-3" align="right">
                <button class="btn btn-block btn-success" (click)="onFiltrar()">Filtrar <i class="fa-solid fa-filter"></i></button>
                <button class="btn btn-block btn-danger">Borrar <i class="fa-solid fa-trash-can"></i></button>
            </div> 
        </div>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr class="col-md-auto">
                    <th  scope="col" (click)="onOrdenarXNombre()" ><i class="fa-solid fa-circle-arrow-down"></i> Nombre y Apellido</th>
                    <th  scope="col" (click)="onOrdenarXFechaNacimiento()"><i class="fa-solid fa-circle"></i> Fecha Nacimiento</th>
                    <th  scope="col" (click)="onOrdenarXDNI()"><i class="fa-solid fa-circle-arrow-up"></i> DNI</th>
                    <th  scope="col" (click)="onOrdenarXFacultad()"><i class="fa-solid fa-arrow-down-short-wide"></i> Facultad</th>
                    <th  scope="col" (click)="onOrdenarXDisciplina()"><i class="fa-solid fa-arrow-down-short-wide"></i> Disciplina</th>
                    <th  scope="col" (click)="onOrdenarXNacionalidad()"><i class="fa-solid fa-arrow-down-short-wide"></i> Nacionalidad</th>
                    <th  scope="col" (click)="onOrdenarXTelefono()">Telefono</th>
                    <th  scope="col" (click)="onOrdenarXLegajo()">Legajo</th>
                    <th  scope="col" (click)="onOrdenarXEMail()">E-Mail</th>
                    <th  scope="col" >Acciones</th>

                </tr>
            </thead>
            <tbody>
                <tr class="col-md-auto" *ngFor = "let jugador of jugadores">
                    <td>{{jugador.apellidoNombre}}</td>
                    <td>{{jugador.fechaFormat}}</td>
                    <td>{{jugador.dni}}</td>
                    <td>{{jugador.facultad.nombre}}</td>
                    <td>{{jugador.disciplina.nombre}}</td>
                    <td>{{jugador.nacionalidad.nombre}}</td>
                    <td>{{jugador.telefono}}</td>
                    <td>{{jugador.legajo}}</td>
                    <td>{{jugador.email}}</td>
                    <td>
                        <div align="center" class="btn-group btn-group-block">
                            <button (click)="onModificar()" class="btn btn-success" ><i class="fa-solid fa-file-pen"></i></button>
                            <button (click)="onBorrar()" class="btn btn-danger" ><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div align="center">
            <button (click)="onPaginaSiguiente()" class="btn btn-primary" style="margin: 10px"><i class="fa-solid fa-angle-left"></i></button>
            <label>1/x</label><!--funcion para cambiar el numero dependiendo la paginacion -->
            <button (click)="onPaginaAnterior()" class="btn btn-primary" style="margin: 10px"><i class="fa-solid fa-angle-right"></i></button>
        </div>
        <div align="right">
            <button (click)="onNuevoJugadorClick()" style="margin: 10px" class="btn btn-success" ><i class="fa-solid fa-plus"></i></button>
            <button (click)="onVolver()" class="btn btn-danger">Volver <i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </div>
    </div>
</form>

<!--[ngClass]="" -->