<form [formGroup]="FacultadesForm" (ngSubmit)="onFiltrar()">
    <div class="mx-auto" style="width: 90%;">
        <h1>Facultades</h1>
        <div class="row">
            <label class="form-label">Filtros</label>
            <div class="col btn-group btn-group-block mb-3">
                <input formControlName="nombre" class="form-control" type="text" style="width : 100%; margin-right: 10px" placeholder="Filtro para nombre">
                <input formControlName="codigo" class="form-control" type="text" style="width : 100%; margin-right: 10px" placeholder="Filtro para el codigo">
                <input formControlName="codigoNumerico" class="form-control" type="text" style="width : 100%; margin-right: 10px" placeholder="Filtro para el codigo numerico">
            </div>
            <div class="col-3 btn-group btn-group-block mb-3" align="right">
                <button class="btn btn-block btn-success" (click)="onFiltrar()">Filtrar <i class="fa-solid fa-filter"></i></button>
                <button class="btn btn-block btn-danger" (click)="onLimpiarFiltro()">Borrar <i class="fa-solid fa-trash-can"></i></button>
            </div> 
        </div>
        <table class="table table-bordered text-center">
            <thead class="table-dark">
                <tr class="col-md-auto">
                    <th scope="col" (click)="onOrdenarXNombre()"><div [hidden]="iconNombre[0]===false">Nombre <i class="fa-solid fa-circle" ></i></div><div [hidden]="iconNombre[1]===false">Nombre <i class="fa-solid fa-circle-arrow-up"></i></div><div [hidden]="iconNombre[2]===false">Nombre <i class="fa-solid fa-circle-arrow-down"></i></div></th>
                    <th scope="col" (click)="onOrdenarXCodigo()"><div [hidden]="iconCodigo[0]===false">Codigo <i class="fa-solid fa-circle" ></i></div><div [hidden]="iconCodigo[1]===false">Codigo <i class="fa-solid fa-circle-arrow-up"></i></div><div [hidden]="iconCodigo[2]===false">Codigo <i class="fa-solid fa-circle-arrow-down"></i></div></th>
                    <th scope="col" (click)="onOrdenarXCodigoNumerico()"><div [hidden]="iconCodigoNumerico[0]===false">Codigo Numerico <i class="fa-solid fa-circle" ></i></div><div [hidden]="iconCodigoNumerico[1]===false">Codigo Numerico <i class="fa-solid fa-circle-arrow-up"></i></div><div [hidden]="iconCodigoNumerico[2]===false">Codigo Numerico <i class="fa-solid fa-circle-arrow-down"></i></div></th>
                    <th  scope="col" >Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="col-md-auto" *ngFor = "let facultad of facultades">
                    <td>{{facultad.nombre}}</td>
                    <td>{{facultad.codigo}}</td>
                    <td>{{facultad.codigoNumerico}}</td>
                    <td>
                        <div align="center" class="btn-group btn-group-block">
                            <button (click)="onConsultar(facultad)" class="btn btn-primary" ><i class="fa-solid fa-eye"></i></button>
                            <button (click)="onModificar(facultad)" class="btn btn-success" ><i class="fa-solid fa-file-pen"></i></button>
                            <button (click)="onBorrar(facultad)" class="btn btn-danger" ><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div align="center">
            <button (click)="onPaginaSiguiente()" class="btn btn-primary" style="margin: 10px"><i class="fa-solid fa-angle-left"></i></button>
            <label>1/x</label><!--funcion para cambiar el numero dependiendo la paginacion -->
            <button (click)="onPaginaAnterior()" class="btn btn-primary" style="margin: 10px"><i class="fa-solid fa-angle-right"></i></button>
        </div>
        <div align="right">
            <button (click)="onNuevoFacultadClick()" style="margin: 10px" class="btn btn-success" ><i class="fa-solid fa-plus"></i></button>
            <button (click)="onVolver()" class="btn btn-danger">Volver <i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </div>
    </div>
</form>

<!--[ngClass]="" -->
