<form [formGroup]="DisciplinasForm" (ngSubmit)="onFiltrar()">
    <div class="mx-auto" style="width: 90%;">
        <!--titulo-->
        <h1>Disciplinas</h1>
        <div class="row">
            <!--sub titulo-->
            <label class="form-label">Filtros</label>
            <!--text filtros-->
            <div class="col btn-group btn-group-block mb-3">
                <input formControlName="filtro" class="form-control" type="text" style="width : 100%" placeholder="Ingresar cadena para filtrar">
            </div>
            <!--botones filtro-->
            <div class="col-3 btn-group btn-group-block mb-3" align="right">
                <button class="btn btn-block btn-success" (click)="onFiltrar()">Filtrar <i class="fa-solid fa-filter"></i></button>
                <button class="btn btn-block btn-danger" (click)="onLimpiarFiltro()">Borrar <i class="fa-solid fa-trash"></i></button>
            </div> 
        </div>
        <!--tabla disciplinas-->
        <table class="table table-bordered text-center">
            <thead class="table-dark">
                <tr class="col-md-auto">
                    <th scope="col" (click)="onOrdenarXNombre()"><div [hidden]="iconNombre[0]===false">Nombre <i class="fa-solid fa-circle" ></i></div><div [hidden]="iconNombre[1]===false">Nombre <i class="fa-solid fa-circle-arrow-up"></i></div><div [hidden]="iconNombre[2]===false">Nombre <i class="fa-solid fa-circle-arrow-down"></i></div></th>
                    <th scope="col" (click)="onOrdenarXCodigo()"><div [hidden]="iconCodigo[0]===false">Codigo <i class="fa-solid fa-circle" ></i></div><div [hidden]="iconCodigo[1]===false">Codigo <i class="fa-solid fa-circle-arrow-up"></i></div><div [hidden]="iconCodigo[2]===false">Codigo <i class="fa-solid fa-circle-arrow-down"></i></div></th>
                    <th scope="col" (click)="onOrdenarXDescripcion()"><div [hidden]="iconDescripcion[0]===false">Descripcion <i class="fa-solid fa-circle" ></i></div><div [hidden]="iconDescripcion[1]===false">Descripcion <i class="fa-solid fa-circle-arrow-up"></i></div><div [hidden]="iconDescripcion[2]===false">Descripcion <i class="fa-solid fa-circle-arrow-down"></i></div></th>
                    <th  scope="col" >Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="col-md-auto" *ngFor = "let disciplina of disciplinas">
                    <td>{{disciplina.nombre}}</td>
                    <td>{{disciplina.codigo}}</td>
                    <td>{{disciplina.descripcion}}</td>
                    <td>
                        <div align="center" class="btn-group btn-group-block">
                            <button (click)="onConsultar(disciplina)" class="btn btn-primary" ><i class="fa-solid fa-eye"></i></button>
                            <button (click)="onModificar(disciplina)" class="btn btn-success" ><i class="fa-solid fa-file-pen"></i></button>
                            <button (click)="onBorrar(disciplina)" class="btn btn-danger" ><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--botones paginas-->
        <div align="center">
            <button (click)="onPaginaAnterior()" class="btn btn-primary" style="margin: 10px"><i class="fa-solid fa-angle-left"></i></button>
            <label>{{this.page+1}}/{{this.totalPages}}</label><!--funcion para cambiar el numero dependiendo la paginacion -->
            <button (click)="onPaginaSiguiente()" class="btn btn-primary" style="margin: 10px"><i class="fa-solid fa-angle-right"></i></button>
        </div>
        <!--botones volver + nuevo registro-->
        <div align="right">
            <button (click)="onNuevoDisciplinaClick()" style="margin: 10px" class="btn btn-success" ><i class="fa-solid fa-plus"></i></button>
            <button (click)="onVolver()" class="btn btn-danger">Volver <i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </div>
    </div>
</form>