<div class="container" style="width: 50%;">
    <!--titulo-->
    <div>
        <h1 align="center">Login</h1> 
    </div>
    <div class="card">
        <!--sub titulo-->
        <div class="card-header">
            Ingresar usuario y contraseña 
        </div>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <!--label + imput usuario-->
                <div class="form-group mb-3">
                    <i class="fa-solid fa-user"></i> <label for="Usuario">Usuario</label>
                    <input type="text" formControlName="usuario" class="form-control" [ngClass]="{'is-invalid':loginForm.controls['usuario'].touched && loginForm.controls['usuario'].errors!['required']}"/>
                </div>
                <!--label + imput contraseña-->
                <div class="form-group mb-3">
                    <i class="fa-solid fa-key"></i> <label>Contraseña</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid':loginForm.controls['password'].touched && loginForm.controls['password'].errors!['required']}"/>
                </div>
                <!--boton ingresar-->
                <div class="form-group mb-3">
                    <button (click)="onSubmit()" class="btn btn-primary" >Ingresar <i class="fa-solid fa-arrow-right-to-bracket"> </i></button>
                </div>
            </form>
        </div>
        <!--crear usuario-->
        <div class="card-footer">       
            <a href="" (click)="onNuevoUsuario()">Crear Usuario</a>
        </div>
    </div>  
</div>