<form [formGroup]="actualizarForm" (ngSubmit)="onSubmit()">
    <div class="mx-auto" style="width: 50% ;">
      <fieldset>
        <legend align="center">Datos Jugador</legend>
          <div>
            <div class="mb-3">
              <label for="">Nombre</label>
              <input id="nombre" type="text" placeholder="Ingrese el nombre" class="form-control" formControlName="Nombre" [ngClass]="{'is-invalid': enviado===true && actualizarForm.controls['Nombre'].errors}">
            </div>
            <div class="mb-3">
              <label for="">Apellido</label>
              <input id="apellido" type="text" placeholder="Ingrese el apellido" class="form-control" formControlName="Apellido" [ngClass]="{'is-invalid': enviado===true && actualizarForm.controls['Apellido'].errors}">
            </div>
            <div class="mb-3">
              <label for="">DNI</label>
              <input id="dni" type="number" placeholder="Ingrese número de DNI" class="form-control" formControlName="Dni" [ngClass]="{'is-invalid': enviado===true && actualizarForm.controls['Dni'].errors}">
            </div>
            <div class="mb-3">
              <label for="">Telefono</label>
              <input id="telefono" type="text" placeholder="Ingrese número de telefóno" class="form-control" formControlName="Telefono">
            </div>
            <div class="mb-3">
              <label for="">Legajo</label>
              <input id="legajo" type="number" placeholder="Ingrese número de legajo" class="form-control" formControlName="Legajo" [ngClass]="{'is-invalid': enviado===true && actualizarForm.controls['Legajo'].errors}">
            </div>
            <div class="mb-3">
              <label for="">E-Mail</label>
              <input id="email" type="text" placeholder="Ingrese el email" class="form-control" formControlName="Email" [ngClass]="{'is-invalid': enviado===true && actualizarForm.controls['Email'].errors}">
            </div>
            <div class="mb-3">
              <label for="">Fecha Nacimiento</label>
              <input id="fecha-nacimiento" type="date" class="form-control" formControlName="FechaDeNacimiento">
            </div>
          </div>
          <div class="mb-3">
            <legend>Facultad</legend><br>
            <select name="facultades" formControlName="Facultad" class="form-control" id=""  (change)="onclickFacultad()">
              <option value="">Seleccionar</option>
              <option *ngFor="let facultad of facultades" [value]="facultad.codigo" >
                {{facultad.nombre}}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <legend>Disciplina</legend><br>
            <select name="disciplinas" formControlName="Disciplina" class="form-control" id="" (change)="onclickDisciplina()">
              <option value="">Seleccionar</option>
              <option *ngFor="let disciplina of disciplinas" [value]="disciplina.codigo">
                {{disciplina.nombre}}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <legend>Nacionalidad</legend><br>
            <select name="nacionalidades" formControlName="Nacionalidad" class="form-control" id="" (change)="onclickNacionalidad()">
              <option value="">Seleccionar</option>
              <option *ngFor="let n of nacionalidades" [value]="n.name">
                {{n.name}}
              </option>
            </select>
          </div>
          <div>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()"><i class="fa-solid fa-angle-down"></i> Actualizar</button>
            <button style="margin: 10px" (click)="onVolver()" type="submit" class="btn btn-danger"><i class="fa-solid fa-arrow-right-from-bracket"></i> Volver</button>
          </div> 
      </fieldset>
    </div>
  </form>
  
